* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#logoBrand{
  height: 2rem;
}

.cartWidget
{
  
 
  
  font-size: 2rem;
  
}

#numberCart
{
  color:white;
  text-align: center;
  
  font-size: 1.5rem;
  background-color: black;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  

}